<footer class="footer">
<div class="container-fluid">
	<div class="row-fluid muted">
		<div class="span2">	</div>		
		<div class="span2"> <%= link_to "About", about_path %>	</div>
		<div class="span2"> <%= link_to "Contact", contact_path %>	</div>
		<div class="span2"><a href="http://news.railstutorial.org/">News</a></div>
		<div class="span2"><a href="http://www.railstutorial.org/">Rails Tutorial</a> </div>
		<div class="span2">	</div>	
	</div>
</div>
</footer>